.lead__background-image {
  width: 100%;
  max-height: 615px;
  margin: auto;
  display: flex;
  justify-content: center;
  background-image: url(./images/lead-main-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
