.header__lang-link {
  margin-right: 18px;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.75;
  text-align: right;
  color: #FFF;
  transition: opacity 0.2s linear;
}

.header__lang-link:last-child {
  margin-right: 0;
}

.header__lang-link:hover {
  opacity: 0.8;
}
