.lead {
  max-width: 984px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {

  .lead {
    width: 928px;
  }

}

@media screen and (max-width: 800px) {

  .lead {
    width: 751px;
  }

}
