.footer__link {
  margin-right: 18px;
  text-decoration: underline;
  color: #FFF;
  transition: opacity 0.2s linear;
}

.footer__link:last-child {
  margin: 0;
}

.footer__link:hover {
  opacity: 0.8;
}
