.lead__title {
  width: 80%;
  min-width: 720px;
  margin: 0 auto;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  text-rendering: optimizeLegibility; 
}

@media screen and (max-width: 767px) {

  .lead__title {
    width: 80%;
    min-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }

}
