.place__paragraph {
  width: 484px;
  margin: 0 0 26px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
}

.place__paragraph:last-child {
  margin: 0;
}

@media screen and (max-width: 1200px) {

  .place__paragraph {
    width: 456px;
  }

}

@media screen and (max-width: 800px) {

  .place__paragraph {
    width: 352px;
  }

}
