.intro {
  max-width: 690px;
  margin-left: 148px;
}

@media screen and (max-width: 1200px) {

  .intro {
    margin-left: 48px;
  }

}

@media screen and (max-width: 800px) {

  .intro {
    width: 720px;
    margin-left: 24px;
  }

}
