.root {
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  background-color: #2A2C2F;
  color: #FFF;
}

@media screen and (max-width: 1279px) {

  .root {
    max-width: 1279px;
    min-width: 1024px;
  }

}

@media screen and (max-width: 1023px) {

  .root {
    max-width: 1023px;
    min-width: 768px;
  }

}

@media screen and (max-width: 767px) {

  .root {
    max-width: 767px;
    min-width: 300px;
  }

}
