.place {
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(2, min-content);
  grid-auto-flow: column;
  column-gap: 40px;
  row-gap: 48px;
}

.place:last-child {
  margin: 0;
}
